<h1>applications#show</h1>

<div class="row">
  <div class="col d-flex flex-column">
   <p> <%= @application.applicant.name %></p>
   <p> <%= @application.applicant.address %></p>
   <p> <%= @application.applicant.city %></p>
   <p> <%= @application.applicant.state %></p>
   <p> <%= @application.applicant.zip_code %></p>
   <p> <%= @application.description %></p>
   <p> <%= @application.status %></p>
  </div>
</div>