<h1>applications#show</h1>

<div class="row">
  <div class="col d-flex flex-column">
   <p> <%= @application.name %></p>
   <p> <%= @application.address %></p>
   <p> <%= @application.city %></p>
   <p> <%= @application.state %></p>
   <p> <%= @application.zip_code %></p>
   <p> <%= @application.description %></p>
   <p> <%= @application.status %></p>
  </div>
</div>